<?xml version='1.0' encoding='utf-8'?>
<widget id="com.reallifeanalytics.rlascreenapp" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RLA Screen</name>
    <description>
        App for your RLA Screen
    </description>
    <author email="mauricio@reallifeanalytics.com" href="http://reallifeanalytics.com">
        Real Life Analytocs
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <icon src="icon.png" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.6.1" />
    <plugin name="cordova-plugin-fullscreen" spec="1.1.0" />
    <gap:config-file platform="android" parent="/manifest">
        <supports-screens android:xlargeScreens="true" android:largeScreens="true" android:smallScreens="true" />
        <application android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            </activity>
        </application>
    </gap:config-file>
</widget>